{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<body>
	{% include "styles/header.html" %}
	<div class="results">
		<h1>Beer Styles From {{ beer_list.0.country }}:</h1>
		<h4>Try some of these styles by clicking for more information</h4>
		{% if beer_list %}
		<ul>
			{% for beer in beer_list %}
			<li class="link link-results"><a href="{% url 'detail' beer.name %}">{{ beer.name }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No Beers Listed</p>
		{% endif %}
	</div>
</body>