{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheet.css' %}" />

<body class="results">
	{% if this_beer %}
		{% for beer in this_beer %}
			<h1>{{ beer.name }}</h1>
			<p>IBU:&nbsp;{{ beer.ibu }}</p>
			<p>SRM:&nbsp;{{ beer.srm }}</p>
			<p>ABV:&nbsp;{{ beer.abv }}%</p>
			<p>Country of Origin:&nbsp;{{ beer.country }}</p>
			<p>Brands to try for this style:&nbsp;{{ beer.brands }}</p>
		{% endfor %}
	{% else %}
		<p>No Beers Listed</p>
	{% endif %}
	<br>
<br>
<br>
<br>
<footer>
<div class"nav-bar">
	<a href="{% url 'index' %}">Home</a>
	<a href="{% url 'countrys' %}">List of Countries</a>
	<a href="{% url 'list' %}">List of Beers By Name</a>
</div>
</footer>
</body>