{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'styles/stylesheet.css' %}" />

<header>
	<h1 class="title"><a href="{% url 'index' %}">Find Your Beer</a></h1>
	<nav class=nav>
		<ul>
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'countrys' %}">Countries of Origin</a></li>
			<li><a href="{% url 'list' %}">Styles By Name</a></li>
		</ul>
	</nav>
</header>